/* Custom CSS for your KeyDown presentation here */

@font-face {
	font-family: "Franchise Bold";
	src: url(../fonts/Franchise-Bold/Franchise-Bold.ttf);	
}

h1 {
	font-family: "Franchise Bold";
	font-size: 4em;
}

h1 em {
	font-family  
}

h2 {
	font-size: 2em;
	font-family: 'Arvo';
}

.question h2 {
	font-family: "Droid Sans Mono";
}

h3 {
	font-size: 1.4em;
	font-family: 'Arvo';
}

.strike {
	text-decoration: line-through;
}

.tea a {
	color: #ccc;
}